fa-view
	//- MAIN VIEW
	fa-modifier(fa-opacity="mainViewOpacity")
		fa-view(ng-controller="AcctCtrl" fa-size='[getPageWidth(), getPageHeight()]')
			fa-surface(fa-size='[getPageWidth(), 60]' fa-background-color="'red'")
			fa-surface.account(fa-size='[200, 60]' ng-click="viewAccount()") Account
			fa-modifier(ng-show="showAccount")
				fa-surface.account-items
					fa-app
						fa-surface.account-item1(fa-size='[200, 40]' fa-background-color="'pink'" ng-click="viewLogin()") Login
						fa-surface.account-item2(fa-size='[200, 40]' fa-background-color="'pink'" ng-click="viewRegister()") Register
						fa-surface.account-item3(fa-size='[200, 40]' fa-background-color="'pink'" ng-click="logout()") Logout
						fa-surface.account-item4(fa-size='[200, 40]' fa-background-color="'pink'" ng-click="oauthLogin('facebook')") Facebook
						fa-surface.account-item4(fa-size='[200, 40]' fa-background-color="'pink'" ng-click="oauthLogin('twitter')") Twitter


			fa-modifier(ng-show="showLogin")
				fa-surface.register-login-view(fa-background-color="'pink'" fa-size="[200, 100]")
					input(type="text" ng-model="user.email" placeholder="Email")
					input(type="text" ng-model="user.password" placeholder="Password")
					//- input.confirm-password(ng-show="showRegister" type="text" ng-model="confirmPassword" ng-change="checkPassword()" placeholder="Confirm Password")	
					fa-app
						fa-surface.account-go-button(fa-background-color="'red'" fa-size="[200, 50]" ng-click="accountGo(accountAction)") {{accountAction}}
			
