fa-view
	//- MAIN VIEW
	fa-modifier(fa-opacity="mainViewOpacity")
		fa-view(ng-controller="ThanksCtrl" fa-size='[getPageWidth(), getPageHeight()]')
			fa-surface(fa-size='[getPageWidth(), 60]' fa-background-color="'blue'") Thanks